    <footer style="margin-top: 50px;background-color: blueviolet;">
  <span style="margin-left: 450px;color: #000;"">Creado por <a href="https://github.com/lisethgira">Liseth Giraldo</a> | <span
          class="far fa-copyright"></span> 2021 todos los derechos reservados.</span>
  </footer>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
