<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Platos -Restaurante</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css" crossorigin="anonymous">
  </head>
  <body>

    <nav class="navbar navbar-dark bg-dark mb-4" style="margin-bottom: 0%;">
      <a class="navbar-brand" href="/"> <img src="https://e7.pngegg.com/pngimages/716/758/png-clipart-graphics-restaurant-logo-restaurant.png" width="30" height="30" alt="">platos Restaurante</a>
    </nav>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 0%;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-hamburg-green-minimalist-banner-image_184684.jpg" alt="First slide">
        </div>
      </div>
    </div>